.spinner {
  width: 70px;
  height: 70px;
  border: 5px solid black;
  border-top-color: red;
  /* background-color: blue; */
  animation: spin 1s linear infinite;
  border-radius: 50%;
}

@keyframes spin {
  /* In begining or when started */
  0% {
    transform: rotate(0deg);
  }
  /* After 1sec is completed  */
  100% {
    transform: rotate(360deg);
  }
}
